

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .sidenav-container {
    flex: 1;
    overflow: hidden;
  }
  
  .content-area {
    padding: 20px;
  }
  
.main-content {
    flex: 1 0 auto; // This allows the main content to grow
}

.footer-container {
    position: relative;
    z-index: 5; // As previously mentioned to ensure proper layering
    width: 100%;
}
app-footer{
    background-color: #f7f7f7;
}
